{% extends 'main/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features_about">
        <div class="features_ab1">
            <div class="container">
                <div class="ab1_title">
                    <h1>Авторы проекта</h1>
                </div>
                <div class="levan">
                    <p>Абрамашвили Леван</p>
                    <p>Ученик 10"А" класса</p>
                    <p>Увлекается программированием, занимается баскетболом</p>
                </div>
                <div class="matvey">
                    <p>Прихожденко Матвей</p>
                    <p>Ученик 10"А" класса</p>
                    <p>Увлекается компьютерными играми, занимается хоккеем</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}