{% extends 'main/base.html'%}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features_details">
        <div class="container">
            <div class="details_body">
                <div class="features_d1">
                    <div class="title">
                        <h1>{{ profession.title }}</h1>
                    </div>
                    <div class="title">
                        <p>{{ profession.anons }}</p>
                    </div>
                    <div class="title">Обязанности:</div>
                        <p>{{ profession.duties }}</p>
                    <div class="title">Где можно работать:</div>
                        <p>{{ profession.workplace }}</p>
                    <div class="title">Зарплата:</div>
                        <p>{{ profession.pay }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}