{% extends 'main/base.html'%}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="project_content">
        <div class="project_content_body">
            <div class="index_title">
                    <div class="project_logo_text">
                        <div class="container">
                            <h1>Специальности в сфере информационных технологий</h1>
                        </div>
                    </div>
                <div class="project_img">
                    <div class="container">
                        <img src="{% static 'main/img/media_173641d5f2bef19ceb8b94731547bfb7c338a8aaa.jpg' %}" alt="title-img">
                    </div>
                </div>
            </div>
            <div class="main_text">
                <div class="container">
                    <div class="m_text1">
                        В современном мире невозможно представить свою жизнь без телефонов, компьютеров, телевизоров, интернета - информационных технологий. Чем больше этих технологий, тем больше потребность в специалистах, которые будут их разрабатывать, поддерживать в строю, а также анализировать рынок и в соответствии с полученными данными вносить изменения в уже готовые разработки.
                    </div>
                    <div class="m_text2">
                        На нашем сайте представлен список данных специалистов, с подробным описанием обязанностей, заработной платы и актуальности каждой из профессий.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}